/* ----- Page: Partners ----- */

.page {

  &-partners {
    padding-bottom: $scale-3-1;

    &_title {
      width: 100%;
      text-align: center;
      margin-top: -14px;
      transform: translateZ(0px);
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    &_logo_wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 140px;
      max-width: 300px;
      padding: $scale-2-1;
      opacity: 0;

      @include breakpoint( 'desktop' ) { height: 100px; }
    }

    &_logo {

    }

  }

}
