/* ----- Page: Welcome ----- */

.page {

  &-welcome {

    &_videoWithSound_wrap {
      display: none;
    }

    &_video_wrap {
      height: 580px;
      overflow: hidden;
      transform: translateY(-3px);

      @include breakpoint( 'desktop' ) { height: 420px; }
      @include breakpoint( 'tablet' ) { height: 240px; }
      // @include breakpoint( 'mobileMedium' ) { height: 200px; }
    }

    & video[poster] { width: 100vw; }

    &_title {
      position: absolute;
      color: white;
      top: 200px;
      left: 50%;
      transform: translateX( -50% );
      text-align: center;
      // text-shadow: 0px 0px 40px rgba(black, 0.8);

      @include breakpoint( 'desktop' ) { font-size: $fontSize-xxlarge; top: 160px; }
      @include breakpoint( 'tablet' ) { top: 70px; }
      @include breakpoint( 'mobileMedium' ) { font-size: $fontSize-xlarge; }

      & span {
        padding: $scale-1-2 $scale;
        background: rgba(black, 0.8);
        white-space: nowrap;

        &:first-child {
          font-weight: 100;
        }

        &:last-child {
          display: block;
          transform: translateY(8px);
        }

      }

    }

  }

}
