/* ----- Page: Welcome ----- */

// .splash {
//   width: 100vw;
//   height: 100vh;
//   z-index: 10000;
//   background: rgba(white, 0.97);
//   position: absolute;
//   animation: fadeOutRemove 0.6s 1.2s $animationBezier forwards;
//   display: flex;
//   justify-content: center;
//
//   &_logo {
//     opacity: 0;
//     width: 240px;
//     animation: fadeIn 0.6s ease-in forwards;
//     transform: translateY(-80px);
//    }
// }

.page {

  &-welcome {
    // display: flex;
    // // justify-content: center;
    // // align-items: center;
    // flex-basis: auto;

    &_videoWithSound_wrap {
      position: absolute;
      z-index: 10001;
      width: 100vw;
      height: 100vh;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      background: rgba( black, 0.8 );
      cursor: s-resize;
    }

    &_videoWithSound {
      width: 66vw;
      height: calc( 66vw * 0.56666 );

      @include breakpoint( 'widescreen' ) {
        width: 40vw;
        height: calc( 40vw * 0.56666 );
      }
    }

    &_video_wrap {
      height: 580px;
      overflow: hidden;
      transform: translateY(-3px);

      @include breakpoint( 'desktop' ) { height: 420px; }
      @include breakpoint( 'tablet' ) { height: 240px; }
      @include breakpoint( 'mobile' ) { max-height: 180px; }
    }

    & video[poster] { width: 100vw; }

    // Hide automatically added play-button for e.g. iOS devices
    // Old syntax
    & video::-webkit-media-controls-play-button {
      display: none!important;
      -webkit-appearance: none;
    }
    // New syntax
    & video::-webkit-media-controls-start-playback-button {
      display: none !important;
      -webkit-appearance: none;
    }

    &_title {
      position: absolute;
      color: white;
      top: 200px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;

      &_inner {
        opacity: 0;
        animation: fadeInAndUp 1.2s ease-out forwards;
      }

      @include breakpoint( 'desktop' ) { font-size: $fontSize-xxlarge; top: 140px; }
      @include breakpoint( 'tablet' ) { font-size: $fontSize-xlarge; top: 55px; }
      @include breakpoint( 'mobile' ) { font-size: $fontSize-large; top: 40px; }

      & span {
        padding: $scale-1-2 $scale;
        background: rgba(black, 0.8);
        white-space: nowrap;

        &:last-child {
          display: block;
          transform: translateY(12px);
        }

      }

    }

    &_button {
      opacity: 0;
      margin-top: 40px;
      animation: fadeIn 1s 0.6s ease-out forwards;

      @include breakpoint( 'tablet' ) { margin-top: 20px; }
    }

    &_introduction {
      // @include breakpoint( 'mobileMedium' ) {
      //   margin-top: calc( 10vw * 2 );
      // }

      &_inner {
        display: flex;
        align-items: center;

        @include breakpoint( 'mobile' ) {
          flex-direction: column;
          justify-content: center;
        }
      }

      &_logo {
        max-width: 120px;

        @include breakpoint( 'mobile' ) {
          margin: $scale-2-1 auto;
          display: block;
        }
      }

    }

  }

}
