%buttonBase {

  position: relative;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  font-family: $fontFamily-system;
  font-weight: $fontWeight-bold;
  letter-spacing: 0.8px;
  line-height: $fontSize-base;
  outline: 0;
  padding: ($scale-1-2 + 2px) $scale;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  transition: all 0.15s ease-out;

  box-shadow: 0px 0px 30px rgba($color-brandBlack-darker-3, 0.3);

  @include breakpoint( 'tablet' ) {
    font-size: $fontSize-small;
  }

}

%button {

  @extend %buttonBase;

  color: white;
  background: $color-brandFirst;
  background: linear-gradient( $color-brandFirst-lighter-1, $color-brandFirst );
  border-color: lighten( $color-brandFirst, 8% );
transition: all 0.15s ease-out;
  &:hover {
    transform: translateY( -1px );
    background: linear-gradient( $color-brandFirst, $color-brandFirst );
    box-shadow: 0px 0px 50px rgba($color-brandBlack-darker-3, 0.45);
  }

  &:active {
    transform: translateY( 0px );
    box-shadow: 0px 0px 10px rgba( $color-brandSecond-darker-3, 0.15 );
  }

}


.button {

  &-primary {

    @extend %button;

  }

  &-secondary {}

  &-inactive {}

  &-link {
    color: $color-brandFirst;
    font-family: $fontFamily-body;
    font-size: $fontSize-xlarge;
    font-weight: $fontWeight-bold;
    letter-spacing: 1px;

    &:hover {
      text-decoration: none;
    }
  }

}
