%buttonBase {

  position: relative;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  font-size: 12px;
  font-family: $fontFamily-system;
  font-weight: $fontWeight-bold;
  letter-spacing: 1px;
  line-height: $fontSize-base;
  outline: 0;
  padding: ($scale-1-2 + 2px) $scale;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  transition: all 0.1s ease-out;

  // box-shadow: 0px 0px 10px rgba( $color-brandBlack-darker-3, 0.3 );

  box-shadow: 0px 2px 0px 0px $color-brandFirst-darker-2;
  transform: translateY(-2px);

  @include breakpoint( 'tablet' ) {
    font-size: $fontSize-small;
  }

}

%button {

  @extend %buttonBase;

  color: white;
  background: $color-brandFirst;
  background: linear-gradient( $color-brandFirst-lighter-1, $color-brandFirst );
  border-color: lighten( $color-brandFirst, 8% );

  &:hover {
    background: linear-gradient( $color-brandFirst, $color-brandFirst );
    // box-shadow: 0px 0px 20px rgba( $color-brandBlack-darker-3, 0.3 );
    box-shadow: 0px 3px 0px 0px $color-brandFirst-darker-2;
    transform: translateY(-3px);
  }

  &:active {
    transform: translateY( 0px );
    box-shadow: 0px 0px 5px rgba( $color-brandSecond-darker-3, 0.1 );
  }

}


.button {

  &-primary {

    @extend %button;

  }

  &-secondary {}

  &-inactive {}

  &-link {
    color: $color-brandFirst;
    font-family: $fontFamily-body;
    font-size: $fontSize-xlarge;
    font-weight: $fontWeight-bold;
    letter-spacing: 1px;

    &:hover {
      text-decoration: none;
    }
  }

}
