.employee {
  background: white;
  padding: $scale-2-1 $scale;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 20px rgba($color-brandFirst-darker-3, 0.15);
  border-radius: 2px;

  &_image {
    max-width: 120px;
    border-radius: 50%;
    margin-top: -80px;
  }

  p, h1, h2, h3, h4, h5, h6 { text-align: center; margin-bottom: 0; }

  p {
    font-size: $fontSize-small;
    line-height: 1.5;
  }

  &_divider {
    height: 1px;
    border-bottom: 1px solid $color-brandWhite;
    width: 100px;
    margin: $scale-1-2 0;
  }

}
