.title {

  &-twoWeights {

    & span {

      &:last-child {
        font-weight: 200;
      }

    }

    &-lastBold {

      & span {

        &:first-child {
          font-weight: 200;
        }

      }

    }

  }

}
