@import './_variables';

@keyframes fadeIn {
	0% 		{ opacity: 0; }
	100% 	{ opacity: 1; }
}

@keyframes fadeInAndUp {
	0% 		{ opacity: 0; transform: translate3d(0, -20px, 0); }
	100% 	{ opacity: 1; transform: translate3d(0, 0, 0); }
}

@keyframes fadeOut {
	0% 		{ opacity: 1; }
	100% 	{ opacity: 0; }
}

@keyframes fadeInShow {
	0% 		{ opacity: 0; transform: translateY(-100vh); }
	20% 	{ opacity: 1; }
	100% 	{ opacity: 1; transform: translateY(0vh); }
}

@keyframes fadeOutHide {
	0% 		{ opacity: 1; transform: translateY(0vh); }
	80% 	{ opacity: 1; }
	100% 	{ opacity: 0; transform: translateY(-100vh); }
}

@keyframes fadeOutRemove {
	0% 		{ opacity: 1; transform: translateY(0vh); }
	99% 	{ transform: translateY(0vh); }
	100% 	{ opacity: 0; transform: translateY(-100vh); }
}

@keyframes fadeOutAndRemove {
	0% 		{ opacity: 1; height: 100vh; }
	99%		{ height: 100vh; }
	100% 	{ opacity: 0; height: 0; }
}

@keyframes scaleUp {
	0% 		{ transform: scale(0); }
	100% 	{ transform: scale(1); }
}

@keyframes popUp {
	0% 		{ transform: scale(0); }
	80% 	{ transform: scale(1.2); }
	100% 	{ transform: scale(1); }
}

@keyframes slideUpToMiddle {
	0%   	{ transform: translate3d(0, 100%, 0); }
	100% 	{ transform: translate3d(0, 0%, 0); }
}

@keyframes slideInFromLeft {
	0%   	{ right: -16px; }
	100% 	{ right: 0px; }
}

@keyframes slideInFromRight {
	0%   	{ left: -16px; }
	100% 	{ left: 0px; }
}

@keyframes subtleAlive {
	0% 		{ transform: translate3d(0, 0, 0); }
	30% 	{ transform: translate3d(0, -16px, 0); }
	100% 	{ transform: translate3d(0, 0, 0); }
}
