@mixin breakpoint($class, $value: false, $min: false) {

  @if $class == 'mobileSmall' {

    @media (max-width: 320px) {

      @content;

    }

  } @else if $class == 'mobileMedium' {

    @media (max-width: 400px) {

      @content;

    }

  } @else if $class == 'mobile' {

    @media (max-width: $breakpoint-sm) {

      @content;

    }

  } @else if $class == 'tablet' {

    @media (max-width: $breakpoint-md) {

      @content;

    }

  } @else if $class == 'tablet-above' {

    @media (min-width: $breakpoint-md + 1) {

      @content;

    }

  } @else if $class == 'desktop' {

    @media (max-width: $breakpoint-lg) {

      @content;

    }

  } @else if $class == 'widescreen-below' {

    @media (max-width: $breakpoint-xl) {

      @content;

    }

  } @else if $class == 'widescreen' {

    @media (min-width: $breakpoint-xl) {

      @content;

    }

  } @else if $class == 'extraWidescreen' {

    @media (min-width: 1400px) {
       @content;
    }

  } @else if $class == 'extremeWidescreen' {

    @media (min-width: 1600px) {
      @content;
    }

  } @else if $class == 'custom' {

    @if $min == true {

      @media (min-width: $value) {

        @content;

      }

    } @else {

      @media (max-width: $value) {

        @content;

      }

    }

  } @else {

    @error 'That breakpoint isn\'t available...';

  }
}
