@import './_variables';
@import './_breakpoints';

h1,
h2,
h3,
h4 {
  font-family: $fontFamily-headline;
}

h5,
h6 {
  font-family: $fontFamily-system;
}

h1 {
  font-size: $fontSize-title;
  letter-spacing: 2px;
  line-height: 1.1;

  @include breakpoint( 'tablet' ) {
    font-size: $fontSize-xxlarge;
  }

}

h2 {
  font-size: $fontSize-xxlarge;
  @include breakpoint( 'tablet' ) { font-size: $fontSize-xlarge; }
}
h3 {
  font-size: $fontSize-xlarge;
  @include breakpoint( 'tablet' ) { font-size: $fontSize-large; } 
}
h4 { font-size: $fontSize-large; }
h5 { font-size: $fontSize-base; }
h6 { font-size: $fontSize-small; }

p, a {
  color: $color-brandBlack;
  font-family: $fontFamily-body;
  font-weight: 300;
  font-size: $fontSize-base;
  line-height: 1.4;
  letter-spacing: 0.2px;
}
